<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Managers</title>
</head>
<body>

<h1>Managers:</h1>

<p>Name: {{ obj.name }}<br>
    Age: {{ obj.age }}<br>
    Projects: {{ obj.project|join(', ') }}</p>

</body>
</html>